/* General setup */

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
  }
  
  /* Layout */
  
  section {
    float: left;
    width: 50%;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
  }
  
  /* WRITE YOUR CODE BELOW HERE */

  @font-face {
    font-family: "Marg";
    src:
      url("margheritavariablegx.ttf") format("woff2");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Elsie";
    src:
      url("ElsieSwashCaps-Regular.otf") format("woff2");
    font-weight: normal;
    font-style: normal;
  }
  html {
    font-family: Marg;
    font-size: 10px;
  }

  header {
    font-family: Elsie;
  }

  header {
    font-size: 2em;
  }
  p , h2, ul, ol{
    font-size: 2rem;
  }

  body {
    line-height: 30px;
    letter-spacing: 1px;
    word-spacing: 1px;
  }

  header {
    text-align: center;
    letter-spacing: 10px;
  }

  section > h2 + p {
    text-indent: 20px;
  }
 

